.git
.github
.dockerignore
Dockerfile
.env
.env.*
**/appsettings.*.local.json
**/bin
**/obj
**/TestResults
artifacts
coverage
coverage.*
.local
.vs
.idea
*.user
*.suo
*.log
logs
.DS_Store
Thumbs.db
*.zip
*.tar
*.tar.gz
docs
tests
*.pem
*.key
*.pfx
*.p12
*.jks
.terraform
*.tfstate
*.tfstate.*
*.tfplan
terraform.tfvars
terraform.tfvars.json
crash.log
**/secrets.json
